body {
    min-height: 3000px;
}

.jumbotron {
    padding-top: 5rem;
    background-color: rgb(255, 246, 198);
}

#projects {
    background-color: rgb(255, 246, 198);
}

section {
    padding-top: 5rem;
}